  .pageHeaderFarmacos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    
    .titleFarmacos {
      display: flex;
      flex-direction: column;
      margin-top: 3px !important;
      min-height: 80px;
      align-items: start;
      font-size: 50px;
      color: var(--character-title-85, rgba(0, 0, 0, 0.85));
      white-space: nowrap;
      justify-content: center;
      font-weight: bold;
      margin: auto;
      white-space: nowrap;
      line-height: 1.4;
      color: #333;
    }
    
    
    @media (max-width: 991px) {
      .pageHeaderFarmacos {
        max-width: 100%;
        padding: 0 20px;
      }
      
      .headingFarmacos {
        max-width: 100%;
        white-space: initial;
      }
      
      .titleFarmacos {
        white-space: initial;
      }
    }