.actionButtonsCategoria {
    display: flex;
    justify-content: flex-end;
    /* margin-top: 16px; */
    padding: 8px;
    gap: 16px;
  }
  .deleteButtonCategoria {
    align-items:flex-end;
    border-radius: 5px;
    border: 1px solid var(--Primary-6, #ff182b);
    background: var(--Primary-6, #ff182b);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
    display: flex;
    align-self: stretch;
    gap: 8px;
    overflow: hidden;
    margin: auto 0;
    padding: 12px 20px;
    cursor: pointer;
    }
    .deleteButtonCategoria:hover {
      background-color: #cf0b0b; 
    }
    
    .iconDeleteCategoria {
      display: flex;
      width: 20px;
      height: 20px;
      margin: auto 0;
    }
    
    .buttonTextDeleteCategoria {
      align-self: stretch;
      margin: auto 0;
      color: var(--sds-color-text-inverse);
      font-size: 15px;
      color: #fff;
      font-weight: bold;
    }
    
    @media (max-width: 991px) {
      .deleteButtonCategoria {
        white-space: initial;
      }
    }
    
    .newButtonCategoria {
      align-items:flex-end;
      border-radius: 5px;
      cursor: pointer; border: 1px solid var(--Primary-6, #1976d2);
      background: var(--Primary-6, #1976d2);
      box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
      display: flex;
      align-self: stretch;
      gap: 8px;
      overflow: hidden;
      margin: auto 0;
      padding: 12px 20px;
    }
    .newButtonCategoria:hover {
      background-color: #1259a1; 
    }
    
    @media (max-width: 991px) {
      .newButtonCategoria {
        white-space: initial;
      }
    }
    
    .iconNewCategoria {
      display: flex;
      width: 20px;
      height: 20px;
      margin: auto 0;
    }
    
    .buttonTextNewCategoria {
      align-self: stretch;
      margin: auto 0;
      color: var(--sds-color-text-inverse);
      font-size: 15px;
      color: #fff;
      font-weight: bold;
    }
  
    @media (max-width: 991px) {
      .newButtonCategoria {
        white-space: initial;
      }
    }
  
    .editButtonCategoria {
      justify-content: center;
      align-items: center;
      align-self: stretch;
      overflow: hidden;
      margin: auto 0;
      padding: 0px 10px;
      cursor: pointer;
      border: none;
      background: none;
    }
  
    .iconEditCategoria {
      display: flex;
      width: 1px;
      height: 1px;
      margin: auto 0;
      box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
    }
  
    @media (max-width: 991px) {
      .editButtonCategoria {
        white-space: initial;
      }
    }