.actionButtons {
  /*border: 1px solid black;*/
  display: flex;
  justify-content: flex-end;
  /* margin-top: 16px; */
  padding: 15px !important;
  gap: 16px;
}
.deleteButton {
  align-items:flex-end;
  border-radius: 5px;
  border: 1px solid var(--Primary-6, #ff182b);
  background: var(--Primary-6, #ff182b);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
  display: flex;
  align-self: stretch;
  gap: 8px;
  overflow: hidden;
  margin: auto 0;
  padding: 12px 20px !important;
  cursor: pointer;
  }
  .deleteButton:hover {
    background-color: #cf0b0b; 
  }
  
  .iconDelete {
    display: flex;
    width: 20px;
    height: 20px;
    margin: auto 0;
  }
  
  .buttonTextDelete {
    align-self: stretch;
    margin: auto 0;
    color: var(--sds-color-text-inverse);
    font-size: 15px;
    color: #fff;
    font-weight: bold;
  }
  
  @media (max-width: 991px) {
    .deleteButton {
      white-space: initial;
    }
  }
  
  .newButton {
    align-items:flex-end;
    border-radius: 5px;
    cursor: pointer; border: 1px solid var(--Primary-6, #1976d2);
    background: var(--Primary-6, #1976d2);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
    display: flex;
    align-self: stretch;
    gap: 8px;
    overflow: hidden;
    margin: auto 0;
    padding: 12px 20px !important;
  }
  .newButton:hover {
    background-color: #1259a1; 
  }
  
  @media (max-width: 991px) {
    .newButton {
      white-space: initial;
    }
  }
  
  .iconNew {
    display: flex;
    width: 20px;
    height: 20px;
    margin: auto 0;
  }
  
  .buttonTextNew {
    align-self: stretch;
    margin: auto 0;
    color: var(--sds-color-text-inverse);
    font-size: 15px;
    color: #fff;
    font-weight: bold;
  }

  @media (max-width: 991px) {
    .newButton {
      white-space: initial;
    }
  }

  .editButton {
    justify-content: center;
    align-items: center;
    align-self: stretch;
    overflow: hidden;
    margin: auto -8px !important;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background: none;
  }

  .iconEdit {
    display: flex;
    width: 1px;
    height: 1px;
    margin: auto 0;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
  }

  @media (max-width: 991px) {
    .editButton {
      white-space: initial;
    }
  }