.bodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; /* Ocupa toda la pantalla */
  padding: 16px;
  box-sizing: border-box;
}

.searchToolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

  .tableContainer {
  flex: 1; /* Se expande para ocupar el espacio disponible */
  overflow-y: auto; /* Añade scroll si hay demasiadas filas */
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 991px) {
    .searchToolbar {
      max-width: 100%;
    }
  }
  
  .searchContainer {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    min-height: 32px;
    align-items: center;
    gap: 16px;
    justify-content: start;
    margin: auto 0;
  }
  
  .searchInputWrapper {
    border-radius: 4px;
    border: 1px solid var(--Neutral-5, #d9d9d9);
    background: var(--Neutral-1, #fff);
    align-self: stretch;
    display: flex;
    min-width: 340px;
    overflow: hidden;
    justify-content: start;
    margin: auto 0;
  }
  
  .inputContent {
    display: flex;
    align-items: start;
    gap: 10px;
    color: var(--character-disabled-placeholder-25, rgba(0, 0, 0, 0.25));
    white-space: nowrap;
    justify-content: start;
    width: 340px;
    margin: auto 0;
    padding: 4px 12px;
    font: 400 14px/2 Roboto, sans-serif;
  }
  
  @media (max-width: 991px) {
    .inputContent {
      white-space: initial;
    }
  }
  
  .searchLabel {
    gap: 10px;
    overflow: hidden;
    padding: 1px 0;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  
  .searchIcon {
    justify-content: center;
    align-items: center;
    border: 1px solid var(--Neutral-5, #d9d9d9);
    display: flex;
    gap: 8px;
    overflow: hidden;
    height: 32px;
    width: 32px;
    padding: 0 9px;
    cursor: pointer;
  }
  
  .iconImage {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 14px;
    align-self: stretch;
    margin: auto 0;
  }